$primary-color: #4458dc;
$primary-color2: #854fee;
$white: rgb(255, 255, 255);
$black: #141313;
$text-color2: #777777;
$text-color1: #535050;
$focus: rgb(243, 241, 241);
$border-color: #201f1f17;
$gradient-color: linear-gradient(80deg, #4458dc 0%, #854fee 100%);
$shadow-color: 0px 1px 10px rgba(121, 113, 146, 0.452);
$box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.425);
